<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gray</td>
        <td>gray</td>
        <td>Gy</td>
        <td>absorbedDose</td>
        <td>SELF</td>
        <td>1</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>joulePerKilogram</td>
        <td>joule per kilogram</td>
        <td>J/kg</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>kilorad</td>
        <td>kilorad</td>
        <td>krad</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>10</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>microgray</td>
        <td>microgray</td>
        <td>microGy</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1.0E-6</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>microrad</td>
        <td>microrad</td>
        <td/>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1.0E-8</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>milligray</td>
        <td>milligray</td>
        <td>mGy</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1.0E-3</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>millirad</td>
        <td>millirad</td>
        <td>mrad</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1.0E-5</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>nanogray</td>
        <td>nanogray</td>
        <td>nGy</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>1.0E-9</td>
        <td>absorbed dose</td>
    </tr>
    <tr>
        <td>rad</td>
        <td>rad</td>
        <td>rd</td>
        <td>absorbedDose</td>
        <td>gray</td>
        <td>0.01</td>
        <td>absorbed dose</td>
    </tr>
</table>