<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>abtesla</td>
    <td>abtesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-4</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>gamma</td>
    <td>gamma</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-9</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>gauss</td>
    <td>gauss</td>
    <td>G</td>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-4</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>kilogauss</td>
    <td>kilogauss</td>
    <td>kGs</td>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>0.1</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>microtesla</td>
    <td>microtesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-6</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>milligauss</td>
    <td>milligauss</td>
    <td>mG</td>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-7</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>millitesla</td>
    <td>millitesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-3</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>nanotesla</td>
    <td>nanotesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-9</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>picotesla</td>
    <td>picotesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E-12</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>tesla</td>
    <td>tesla</td>
    <td/>
    <td>magneticFluxDensity</td>
    <td>SELF</td>
    <td>1</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>weberPerCentimeterSquared</td>
    <td>weber per centimeter squared</td>
    <td>Wb/cm^2</td>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1.0E+4</td>
    <td>magnetic flux density</td>
</tr>
<tr>
    <td>weberPerMeterSquared</td>
    <td>weber per meter squared</td>
    <td>Wb/m^2</td>
    <td>magneticFluxDensity</td>
    <td>tesla</td>
    <td>1</td>
    <td>magnetic flux density</td>
</tr>
</table>