<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>henryPerMeter</td>
        <td>henry per meter</td>
        <td>H/m</td>
        <td>magneticPermeability</td>
        <td>SELF</td>
        <td>1</td>
        <td>magneticPermeability</td>
    </tr>
</table>