<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>nanomolePerGramPerSecond</td>
        <td>nanomole per gram per second</td>
        <td>nmol/g s</td>
        <td>amountOfSubstanceMassFlux</td>
        <td>molePerKilogramPerSecond</td>
        <td/>
        <td>amount of substance mass flux</td>
    </tr>
    <tr>
        <td>molePerKilogramPerSecond</td>
        <td>mole per kilogram per second</td>
        <td>mol/kg s</td>
        <td>amountOfSubstanceMassFlux</td>
        <td>SELF</td>
        <td>1</td>
        <td>amount of substance mass flux</td>
    </tr>
</table>