<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>faradPerMeter</td>
        <td>farad per meter</td>
        <td>F/m</td>
        <td>electricPermittivity</td>
        <td>SELF</td>
        <td>1</td>
        <td>electricPermittivity</td>
    </tr>
</table>