<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>degreePerSecond</td>
        <td>degree per second</td>
        <td>deg/s</td>
        <td>angularVelocity</td>
        <td>radianPerSecond</td>
        <td>1.74532925E-2</td>
        <td>angular velocity</td>
    </tr>
    <tr>
        <td>radianPerSecond</td>
        <td>radian per second</td>
        <td>rad/s</td>
        <td>angularVelocity</td>
        <td>SELF</td>
        <td>1</td>
        <td>angular velocity</td>
    </tr>
    <tr>
        <td>revolutionPerMinute</td>
        <td>revolution per minute</td>
        <td>r/min</td>
        <td>angularVelocity</td>
        <td>radianPerSecond</td>
        <td>0.1047197551</td>
        <td>angular velocity</td>
    </tr>
    <tr>
        <td>revolutionPerSecond</td>
        <td>revolution per second</td>
        <td>r/s</td>
        <td>angularVelocity</td>
        <td>radianPerSecond</td>
        <td>6.283185307</td>
        <td>angular velocity</td>
    </tr>
    <tr>
        <td>strob</td>
        <td>strob</td>
        <td/>
        <td>angularVelocity</td>
        <td>radianPerSecond</td>
        <td>1</td>
        <td>angular velocity</td>
    </tr>
</table>