<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>joulePerMeterSquared</td>
        <td>joule per meter squared</td>
        <td>J/m^2</td>
        <td>heatTransmission</td>
        <td>SELF</td>
        <td>1</td>
        <td>heat transmission</td>
    </tr>
    <tr>
        <td>kilojoulePerMeterSquared</td>
        <td>kilojoule per meter squared</td>
        <td>kJ/m^2</td>
        <td>heatTransmission</td>
        <td>joulePerMeterSquared</td>
        <td>1.0E+3</td>
        <td>heat transmission</td>
    </tr>
    <tr>
        <td>langley</td>
        <td>langley</td>
        <td/>
        <td>heatTransmission</td>
        <td>joulePerMeterSquared</td>
        <td>4.184E+4</td>
        <td>heat transmission</td>
    </tr>
</table>