<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abohm</td>
        <td>abohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1.0E-9</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>kiloohm</td>
        <td>kiloohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1.0E+3</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>megaohm</td>
        <td>megaohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1.0E+6</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>microohm</td>
        <td>microohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1.0E-6</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>milliohm</td>
        <td>milliohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1.0E-3</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>ohm</td>
        <td>ohm</td>
        <td>Omega</td>
        <td>electricResistance</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>statohm</td>
        <td>statohm</td>
        <td/>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>8.9876E+11</td>
        <td>electric resistance</td>
    </tr>
    <tr>
        <td>voltPerAmpere</td>
        <td>volt per ampere</td>
        <td>V/A</td>
        <td>electricResistance</td>
        <td>ohm</td>
        <td>1</td>
        <td>electric resistance</td>
    </tr>
</table>