<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>apostilb</td>
        <td>apostilb</td>
        <td>asb</td>
        <td>luminance</td>
        <td>candelaPerMeterSquared</td>
        <td>0.318309886</td>
        <td>luminance</td>
    </tr>
    <tr>
        <td>candelaPerCentimeterSquared</td>
        <td>candela per centimeter squared</td>
        <td>cd/cm^2</td>
        <td>luminance</td>
        <td>candelaPerMeterSquared</td>
        <td>1.0E+4</td>
        <td>luminance</td>
    </tr>
    <tr>
        <td>candelaPerMeterSquared</td>
        <td>candela per meter squared</td>
        <td>cd/m^2</td>
        <td>luminance</td>
        <td>SELF</td>
        <td>1</td>
        <td>luminance</td>
    </tr>
    <tr>
        <td>nit</td>
        <td>nit</td>
        <td>nt</td>
        <td>luminance</td>
        <td>candelaPerMeterSquared</td>
        <td>1</td>
        <td>luminance</td>
    </tr>
    <tr>
        <td>stilb</td>
        <td>stilb</td>
        <td>sb</td>
        <td>luminance</td>
        <td>candelaPerMeterSquared</td>
        <td>1.0E+4</td>
        <td>luminance</td>
    </tr>
</table>