<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>joulePerMeterCubed</td>
        <td>Joule per meter cubed</td>
        <td>J/m^3</td>
        <td>energyDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>energy density</td>
    </tr>
</table>