<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>jouleSecond</td>
        <td>joule second</td>
        <td>Js</td>
        <td>angularMomentum</td>
        <td>SELF</td>
        <td>1</td>
        <td>angular momentum</td>
    </tr>
    <tr>
        <td>kilogramMeterSquaredPerSecond</td>
        <td>kilogram meter squared per second</td>
        <td>kgm^2/s</td>
        <td>angularMomentum</td>
        <td>jouleSecond</td>
        <td>1</td>
        <td>angular momentum</td>
    </tr>
    <tr>
        <td>planck</td>
        <td>planck</td>
        <td/>
        <td>angularMomentum</td>
        <td>jouleSecond</td>
        <td>1</td>
        <td>angular momentum</td>
    </tr>
</table>