<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abvolt</td>
        <td>abvolt</td>
        <td/>
        <td>electricPotential</td>
        <td>volt</td>
        <td>1.0E-8</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>kilovolt</td>
        <td>kilovolt</td>
        <td>kV</td>
        <td>electricPotential</td>
        <td>volt</td>
        <td>1000</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>megavolt</td>
        <td>megavolt</td>
        <td>MV</td>
        <td>electricPotential</td>
        <td>volt</td>
        <td>1.0E+6</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>millivolt</td>
        <td>millivolt</td>
        <td>mV</td>
        <td>electricPotential</td>
        <td>volt</td>
        <td>1.0E-6</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>statvolt</td>
        <td>statvolt</td>
        <td/>
        <td>electricPotential</td>
        <td>volt</td>
        <td>299.79</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>volt</td>
        <td>volt</td>
        <td>V</td>
        <td>electricPotential</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric potential</td>
    </tr>
    <tr>
        <td>wattPerAmpere</td>
        <td>watt per ampere</td>
        <td>W/A</td>
        <td>electricPotential</td>
        <td>volt</td>
        <td>1</td>
        <td>electric potential</td>
    </tr>
</table>