<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>ampereMeterSquared</td>
        <td>ampere meter squared</td>
        <td/>
        <td>magneticDipoleMoment</td>
        <td>joulePerTesla</td>
        <td>1</td>
        <td>magnetic dipole moment</td>
    </tr>
    <tr>
        <td>bohrMagneton</td>
        <td>bohr magneton</td>
        <td>mu_B</td>
        <td>magneticDipoleMoment</td>
        <td>joulesPerTesla</td>
        <td>9.27401543E-24</td>
        <td>magnetic dipole moment</td>
    </tr>
    <tr>
        <td>emu</td>
        <td>emu</td>
        <td/>
        <td>magneticDipoleMoment</td>
        <td>joulePerTesla</td>
        <td>1.0E-3</td>
        <td>magnetic dipole moment</td>
    </tr>
    <tr>
        <td>joulePerTesla</td>
        <td>Joule per Tesla</td>
        <td/>
        <td>magneticDipoleMoment</td>
        <td>SELF</td>
        <td>1</td>
        <td>magnetic dipole moment</td>
    </tr>
</table>