<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>siemensPerMeter</td>
        <td>siemens per meter</td>
        <td>S/m</td>
        <td>electricConductivity</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric conductivity</td>
    </tr>
</table>