<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>caloriePerKelvin</td>
        <td>calorie per Kelvin</td>
        <td>cal/K</td>
        <td>entropy</td>
        <td>joulePerKelvin</td>
        <td>4.1868</td>
        <td>entropy</td>
    </tr>
    <tr>
        <td>clausius</td>
        <td>clausius</td>
        <td/>
        <td>entropy</td>
        <td>joulePerKelvin</td>
        <td>4.1868E+3</td>
        <td>entropy</td>
    </tr>
    <tr>
        <td>joulePerKelvin</td>
        <td>Joule per Kelvin</td>
        <td>J/K</td>
        <td>entropy</td>
        <td>SELF</td>
        <td>1</td>
        <td>entropy</td>
    </tr>
    <tr>
        <td>kilocaloriePerKelvin</td>
        <td>kilocalorie per Kelvin</td>
        <td>kcal/K</td>
        <td>entropy</td>
        <td>joulePerKelvin</td>
        <td>4.1868E+3</td>
        <td>entropy</td>
    </tr>
    <tr>
        <td>kilojoulePerKelvin</td>
        <td>kilojoule per Kelvin</td>
        <td>kJ/K</td>
        <td>entropy</td>
        <td>joulePerKelvin</td>
        <td>1000</td>
        <td>entropy</td>
    </tr>
</table>