<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>angstrom</td>
    <td>Angstrom</td>
    <td>A</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-10</td>
    <td>length</td>
</tr>
<tr>
    <td>astronomicalUnit</td>
    <td>astronomical unit</td>
    <td>au</td>
    <td>length</td>
    <td>meter</td>
    <td>149597870691</td>
    <td>length</td>
</tr>
<tr>
    <td>bohr</td>
    <td>bohr radius</td>
    <td>a_0</td>
    <td>length</td>
    <td>meter</td>
    <td>5.29177249E-11</td>
    <td>length</td>
</tr>
<tr>
    <td>cable</td>
    <td>cable</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>219.456</td>
    <td>length</td>
</tr>
<tr>
    <td>centimeter</td>
    <td>centimeter</td>
    <td>cm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-2</td>
    <td>length</td>
</tr>
<tr>
    <td>chain</td>
    <td>chain</td>
    <td>ch</td>
    <td>length</td>
    <td>meter</td>
    <td>20.1168</td>
    <td>length</td>
</tr>
<tr>
    <td>decimeter</td>
    <td>decimeter</td>
    <td>dm</td>
    <td>length</td>
    <td>meter</td>
    <td>0.1</td>
    <td>length</td>
</tr>
<tr>
    <td>dekameter</td>
    <td>dekameter</td>
    <td>dam</td>
    <td>length</td>
    <td>meter</td>
    <td>10</td>
    <td>length</td>
</tr>
<tr>
    <td>exameter</td>
    <td>exameter</td>
    <td>Em</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+18</td>
    <td>length</td>
</tr>
<tr>
    <td>fathom</td>
    <td>fathom</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>1.8288</td>
    <td>length</td>
</tr>
<tr>
    <td>femtometer</td>
    <td>femtometer</td>
    <td>fm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-15</td>
    <td>length</td>
</tr>
<tr>
    <td>foot</td>
    <td>foot</td>
    <td>ft</td>
    <td>length</td>
    <td>meter</td>
    <td>0.3048</td>
    <td>length</td>
</tr>
<tr>
    <td>foot_Gold_Coast</td>
    <td>Foot_Gold_Coast</td>
    <td>gcft</td>
    <td>length</td>
    <td>meter</td>
    <td>0.3047997101815088</td>
    <td>length</td>
</tr>
<tr>
    <td>foot_US</td>
    <td>Foot_US</td>
    <td>usft</td>
    <td>length</td>
    <td>meter</td>
    <td>0.3048</td>
    <td>length</td>
</tr>
<tr>
    <td>furlong</td>
    <td>furlong</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>201.168</td>
    <td>length</td>
</tr>
<tr>
    <td>gigameter</td>
    <td>gigameter</td>
    <td>Gm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+9</td>
    <td>length</td>
</tr>
<tr>
    <td>hectometer</td>
    <td>hectometer</td>
    <td>hm</td>
    <td>length</td>
    <td>meter</td>
    <td>100</td>
    <td>length</td>
</tr>
<tr>
    <td>inch</td>
    <td>inch</td>
    <td>in</td>
    <td>length</td>
    <td>meter</td>
    <td>2.54E-2</td>
    <td>length</td>
</tr>
<tr>
    <td>kilofoot</td>
    <td>kilofoot</td>
    <td>kft</td>
    <td>length</td>
    <td>meter</td>
    <td>304.8</td>
    <td>length</td>
</tr>
<tr>
    <td>kilometer</td>
    <td>kilometer</td>
    <td>km</td>
    <td>length</td>
    <td>meter</td>
    <td>1000</td>
    <td>length</td>
</tr>
<tr>
    <td>kiloyard</td>
    <td>kiloyard</td>
    <td>kyd</td>
    <td>length</td>
    <td>meter</td>
    <td>914.4</td>
    <td>length</td>
</tr>
<tr>
    <td>lightDay</td>
    <td>light day</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>2.59020683712E+13</td>
    <td>length</td>
</tr>
<tr>
    <td>lightMinute</td>
    <td>light minute</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>1.798754748E+10</td>
    <td>length</td>
</tr>
<tr>
    <td>lightSecond</td>
    <td>light second</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>299792458</td>
    <td>length</td>
</tr>
<tr>
    <td>lightYear</td>
    <td>light year</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>9.460528405E+15</td>
    <td>length</td>
</tr>
<tr>
    <td>link</td>
    <td>link</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>0.201168</td>
    <td>length</td>
</tr>
<tr>
    <td>link_Clarke</td>
    <td>Link_Clarke</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>0.2011661949</td>
    <td>length</td>
</tr>
<tr>
    <td>megameter</td>
    <td>megameter</td>
    <td>Mm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+6</td>
    <td>length</td>
</tr>
<tr>
    <td>meter</td>
    <td>meter</td>
    <td>m</td>
    <td>length</td>
    <td>SELF</td>
    <td>1</td>
    <td>length</td>
</tr>
<tr>
    <td>microinch</td>
    <td>microinch</td>
    <td>microin</td>
    <td>length</td>
    <td>meter</td>
    <td>2.54E-8</td>
    <td>length</td>
</tr>
<tr>
    <td>micrometer</td>
    <td>micrometer</td>
    <td>microm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-6</td>
    <td>length</td>
</tr>
<tr>
    <td>micron</td>
    <td>micron</td>
    <td>microm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-6</td>
    <td>length</td>
</tr>
<tr>
    <td>mile</td>
    <td>mile</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>1609.344</td>
    <td>length</td>
</tr>
<tr>
    <td>millimeter</td>
    <td>millimeter</td>
    <td>mm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-3</td>
    <td>length</td>
</tr>
<tr>
    <td>nanometer</td>
    <td>nanometer</td>
    <td>nm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E-9</td>
    <td>length</td>
</tr>
<tr>
    <td>nauticalMile</td>
    <td>nauticalMile</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>1852</td>
    <td>length</td>
</tr>
<tr>
    <td>petameter</td>
    <td>petameter</td>
    <td>Pm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+15</td>
    <td>length</td>
</tr>
<tr>
    <td>rod</td>
    <td>rod</td>
    <td>rd</td>
    <td>length</td>
    <td>meter</td>
    <td>5.0292</td>
    <td>length</td>
</tr>
<tr>
    <td>terameter</td>
    <td>terameter</td>
    <td>Tm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+12</td>
    <td>length</td>
</tr>
<tr>
    <td>yard</td>
    <td>yard</td>
    <td>yd</td>
    <td>length</td>
    <td>meter</td>
    <td>0.9144</td>
    <td>length</td>
</tr>
<tr>
    <td>yard_Indian</td>
    <td>Yard_Indian</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>0.914398530744440774</td>
    <td>length</td>
</tr>
<tr>
    <td>yard_Sears</td>
    <td>Yard_Sears</td>
    <td/>
    <td>length</td>
    <td>meter</td>
    <td>0.91439841461602867</td>
    <td>length</td>
</tr>
<tr>
    <td>yottameter</td>
    <td>yottameter</td>
    <td>Ym</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+24</td>
    <td>length</td>
</tr>
<tr>
    <td>zettameter</td>
    <td>zettameter</td>
    <td>Zm</td>
    <td>length</td>
    <td>meter</td>
    <td>1.0E+21</td>
    <td>length</td>
</tr>
</table>