<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>dimensionless</td>
        <td>dimensionless</td>
        <td/>
        <td>dimensionless</td>
        <td>SELF</td>
        <td/>
        <td>dimensionless</td>
    </tr>
    <tr>
        <td>number</td>
        <td>number</td>
        <td/>
        <td>dimensionless</td>
        <td>dimensionless</td>
        <td>1</td>
        <td>dimensionless</td>
    </tr>
    <tr>
        <td>pHunit</td>
        <td>pH unit</td>
        <td>pH</td>
        <td>dimensionless</td>
        <td>dimensionless</td>
        <td>1</td>
        <td>dimensionless</td>
    </tr>
    <tr>
        <td>prefix</td>
        <td>prefix</td>
        <td/>
        <td>dimensionless</td>
        <td>SELF</td>
        <td/>
        <td>dimensionless</td>
    </tr>
</table>