<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abcoulomb</td>
        <td>abcoulomb</td>
        <td/>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>10</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>ampereHour</td>
        <td>ampere hour</td>
        <td>Amp hr</td>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>3600</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>ampereSecond</td>
        <td>Ampere second</td>
        <td>A s</td>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>1</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>coulomb</td>
        <td>coulomb</td>
        <td>C</td>
        <td>electricCharge</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>franklin</td>
        <td>franklin</td>
        <td>Fr</td>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>3.3356E-10</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>milliampereHour</td>
        <td>milliampere hour</td>
        <td>mA h</td>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>3.6</td>
        <td>electric charge</td>
    </tr>
    <tr>
        <td>statcoulomb</td>
        <td>statcoulomb</td>
        <td/>
        <td>electricCharge</td>
        <td>coulomb</td>
        <td>3.3356E-10</td>
        <td>electric charge</td>
    </tr>
</table>