<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>centinewton</td>
    <td>centinewton</td>
    <td>cN</td>
    <td>force</td>
    <td>newton</td>
    <td>0.01</td>
    <td>force</td>
</tr>
<tr>
    <td>dekanewton</td>
    <td>dekanewton</td>
    <td>daN</td>
    <td>force</td>
    <td>newton</td>
    <td>10</td>
    <td>force</td>
</tr>
<tr>
    <td>dyne</td>
    <td>dyne</td>
    <td>dyn</td>
    <td>force</td>
    <td>newton</td>
    <td>1.0E-5</td>
    <td>force</td>
</tr>
<tr>
    <td>electronvoltPerAngstrom</td>
    <td>electronvolt per Angstrom</td>
    <td/>
    <td>force</td>
    <td>newton</td>
    <td>1.60218E-9</td>
    <td>force</td>
</tr>
<tr>
    <td>gram</td>
    <td>gram</td>
    <td>gf</td>
    <td>force</td>
    <td>newton</td>
    <td>9.80665E-3</td>
    <td>force</td>
</tr>
<tr>
    <td>joulePerCentimeter</td>
    <td>joule per centimeter</td>
    <td>J/cm</td>
    <td>force</td>
    <td>newton</td>
    <td>100</td>
    <td>force</td>
</tr>
<tr>
    <td>joulePerMeter</td>
    <td>joule per meter</td>
    <td>J/m</td>
    <td>force</td>
    <td>newton</td>
    <td>1</td>
    <td>force</td>
</tr>
<tr>
    <td>kilogram</td>
    <td>kilogram</td>
    <td>kgf</td>
    <td>force</td>
    <td>newton</td>
    <td>9.80665</td>
    <td>force</td>
</tr>
<tr>
    <td>kilogramMeterPerSecondSquared</td>
    <td>kilogram meter per second squared</td>
    <td>kgm/s^2</td>
    <td>force</td>
    <td>newton</td>
    <td>1</td>
    <td>force</td>
</tr>
<tr>
    <td>kilonewton</td>
    <td>kilonewton</td>
    <td>kN</td>
    <td>force</td>
    <td>newton</td>
    <td>1000</td>
    <td>force</td>
</tr>
<tr>
    <td>kilopond</td>
    <td>kilopond</td>
    <td>kp</td>
    <td>force</td>
    <td>newton</td>
    <td>9.80665</td>
    <td>force</td>
</tr>
<tr>
    <td>meganewton</td>
    <td>meganewton</td>
    <td>MN</td>
    <td>force</td>
    <td>newton</td>
    <td>1.0E+6</td>
    <td>force</td>
</tr>
<tr>
    <td>micronewton</td>
    <td>micronewton</td>
    <td>microN</td>
    <td>force</td>
    <td>newton</td>
    <td>1.0E-6</td>
    <td>force</td>
</tr>
<tr>
    <td>millinewton</td>
    <td>millinewton</td>
    <td>mN</td>
    <td>force</td>
    <td>newton</td>
    <td>1.0E-3</td>
    <td>force</td>
</tr>
<tr>
    <td>nanonewton</td>
    <td>nanonewton</td>
    <td>nN</td>
    <td>force</td>
    <td>newton</td>
    <td>1.0E-9</td>
    <td>force</td>
</tr>
<tr>
    <td>newton</td>
    <td>newton</td>
    <td>N</td>
    <td>force</td>
    <td>SELF</td>
    <td>1</td>
    <td>force</td>
</tr>
<tr>
    <td>ounce</td>
    <td>ounce</td>
    <td>ozf</td>
    <td>force</td>
    <td>newton</td>
    <td>0.278014</td>
    <td>force</td>
</tr>
<tr>
    <td>pond</td>
    <td>pond</td>
    <td>p</td>
    <td>force</td>
    <td>newton</td>
    <td>9.80665E-3</td>
    <td>force</td>
</tr>
<tr>
    <td>pound</td>
    <td>pound</td>
    <td>lbf</td>
    <td>force</td>
    <td>newton</td>
    <td>4.448198</td>
    <td>force</td>
</tr>
<tr>
    <td>poundal</td>
    <td>poundal</td>
    <td>pdl</td>
    <td>force</td>
    <td>newton</td>
    <td>0.138255</td>
    <td>force</td>
</tr>
</table>