<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>gramPerCentimeterCubed</td>
    <td>gram per centimeter cubed</td>
    <td>g/cm^3</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1000</td>
    <td>mass density</td>
</tr>
<tr>
    <td>gramPerLiter</td>
    <td>gram per liter</td>
    <td>g/l</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1</td>
    <td>mass density</td>
</tr>
<tr>
    <td>gramPerMilliliter</td>
    <td>gram per milliliter</td>
    <td>g/ml</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1000</td>
    <td>mass density</td>
</tr>
<tr>
    <td>kilogramPerMeterCubed</td>
    <td>kilogram per meter cubed</td>
    <td>kg/m^3</td>
    <td>massDensity</td>
    <td>SELF</td>
    <td>1</td>
    <td>mass density</td>
</tr>
<tr>
    <td>microgramPerLiter</td>
    <td>microgramPerLiter</td>
    <td/>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1.0E-6</td>
    <td>mass density</td>
</tr>
<tr>
    <td>milligramPerDeciliter</td>
    <td>milligram per deciliter</td>
    <td>mg/dl</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>0.01</td>
    <td>mass density</td>
</tr>
<tr>
    <td>milligramPerLiter</td>
    <td>milligram per liter</td>
    <td>mg/l</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>0.001</td>
    <td>mass density</td>
</tr>
<tr>
    <td>milligramPerMeterCubed</td>
    <td>milligram per meter cubed</td>
    <td>mg/m^3</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1.0E-6</td>
    <td>mass density</td>
</tr>
<tr>
    <td>milligramPerMilliliter</td>
    <td>milligram per milliliter</td>
    <td>mg/ml</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>1</td>
    <td>mass density</td>
</tr>
<tr>
    <td>ouncePerGallon_imperial</td>
    <td>ounce per imperial gallon</td>
    <td>oz/gal</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>6.236023</td>
    <td>mass density</td>
</tr>
<tr>
    <td>ouncePerGallon_US</td>
    <td>ounce per US gallon</td>
    <td>oz/gal</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>7.489152</td>
    <td>mass density</td>
</tr>
<tr>
    <td>poundPerFootCubed</td>
    <td>pound per foot cubed</td>
    <td>lb/ft^3</td>
    <td>massDensity</td>
    <td>kilogramPerMeterCubed</td>
    <td>16.018406</td>
    <td>mass density</td>
</tr>
</table>