<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gramPerMeterSquared</td>
        <td>gram per meter squared</td>
        <td>g/m^2</td>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td>1.0E-3</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>kilogramPerCentimeterSquared</td>
        <td>kilogram per centimeter squared</td>
        <td>kg/cm^2</td>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td>1.0E+4</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>kilogramPerHectare</td>
        <td>kilogram per hectare</td>
        <td>kg/ha</td>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td>1.0E-4</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>kilogramPerMeterSquared</td>
        <td>kilogram per meter squared</td>
        <td>kg/m^2</td>
        <td>arealMassDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>milligramPerMeterSquared</td>
        <td>milligram per meter squared</td>
        <td>mg/m^2</td>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td>1.0E-6</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>ouncePerFootSquared</td>
        <td>ounce per foot squared</td>
        <td>oz/ft^2</td>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td>0.305152</td>
        <td>areal mass density</td>
    </tr>
    <tr>
        <td>tonnePerHectare</td>
        <td>tonne per hectare</td>
        <td/>
        <td>arealMassDensity</td>
        <td>kilogramPerMeterSquared</td>
        <td/>
        <td>areal mass density</td>
    </tr>
</table>