<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>candelaSteradian</td>
        <td>candela steradian</td>
        <td>cd sr</td>
        <td>luminousFlux</td>
        <td>lumen</td>
        <td>1</td>
        <td>luminous flux</td>
    </tr>
    <tr>
        <td>lumen</td>
        <td>lumen</td>
        <td>lm</td>
        <td>luminousFlux</td>
        <td>SELF</td>
        <td>1</td>
        <td>luminous flux</td>
    </tr>
</table>