<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>candelaSteradianPerMeterSquared</td>
        <td>candela steradian per meter squared</td>
        <td>cd sr/m^2</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>1</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>lambert</td>
        <td>lambert</td>
        <td>Lb</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>1.0E+4</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>lumenPerMeterSquared</td>
        <td>lumen per meter squared</td>
        <td>lm/m^2</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>1</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>lux</td>
        <td>lux</td>
        <td>lx</td>
        <td>luminousFluxDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>millilambert</td>
        <td>millilambert</td>
        <td>mLb</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>10</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>millilux</td>
        <td>millilux</td>
        <td>mlx</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>1.0E-3</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>milliphot</td>
        <td>milliphot</td>
        <td>mph</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>10</td>
        <td>luminous flux density</td>
    </tr>
    <tr>
        <td>phot</td>
        <td>phot</td>
        <td>ph</td>
        <td>luminousFluxDensity</td>
        <td>lux</td>
        <td>1.0E+4</td>
        <td>luminous flux density</td>
    </tr>
</table>