<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>wattPerMeterSquared</td>
        <td>Watt per meter squared</td>
        <td>W/m^2</td>
        <td>heatFluxDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>heat flux density</td>
    </tr>
</table>