<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>amperePerMeterSquared</td>
        <td>ampere per meter squared</td>
        <td>A/m^2</td>
        <td>currentDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>current density</td>
    </tr>
</table>