<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>millimolePerLiter</td>
        <td>millimole per liter</td>
        <td>mmol/l</td>
        <td>amountOfSubstanceConcentration</td>
        <td>molePerMeterCubed</td>
        <td>1</td>
        <td>amount-of-substance concentration</td>
    </tr>
    <tr>
        <td>molarity</td>
        <td>molarity</td>
        <td>M</td>
        <td>amountOfSubstanceConcentration</td>
        <td>molePerMeterCubed</td>
        <td>1.0E-6</td>
        <td>amount-of-substance concentration</td>
    </tr>
    <tr>
        <td>molePerCentimeterCubed</td>
        <td>mole per centimeter cubed</td>
        <td/>
        <td>amountOfSubstanceConcentration</td>
        <td>molePerMeterCubed</td>
        <td>1.0E+6</td>
        <td>amount-of-substance concentration</td>
    </tr>
    <tr>
        <td>molePerLiter</td>
        <td>mole per liter</td>
        <td>mol/l</td>
        <td>amountOfSubstanceConcentration</td>
        <td>molePerMeterCubed</td>
        <td>1000</td>
        <td>amount-of-substance concentration</td>
    </tr>
    <tr>
        <td>molePerMeterCubed</td>
        <td>mole per meter cubed</td>
        <td>mol/m^3</td>
        <td>amountOfSubstanceConcentration</td>
        <td>SELF</td>
        <td>1</td>
        <td>amount-of-substance concentration</td>
    </tr>
</table>