<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>atomicMassUnit</td>
    <td>Atomic mass unit</td>
    <td>amu</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.6605402E-27</td>
    <td>mass</td>
</tr>
<tr>
    <td>centigram</td>
    <td>centigram</td>
    <td>cg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-5</td>
    <td>mass</td>
</tr>
<tr>
    <td>dalton</td>
    <td>dalton</td>
    <td>Da</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.6605402E-27</td>
    <td>mass</td>
</tr>
<tr>
    <td>decigram</td>
    <td>decigram</td>
    <td>dg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-4</td>
    <td>mass</td>
</tr>
<tr>
    <td>decitonne</td>
    <td>decitonne</td>
    <td/>
    <td>mass</td>
    <td>kilogram</td>
    <td>100</td>
    <td>mass</td>
</tr>
<tr>
    <td>dekagram</td>
    <td>dekagram</td>
    <td>dag</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>0.01</td>
    <td>mass</td>
</tr>
<tr>
    <td>gigagram</td>
    <td>gigagram</td>
    <td>Gg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+6</td>
    <td>mass</td>
</tr>
<tr>
    <td>gigatonne</td>
    <td>gigatonne</td>
    <td>Gt</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+12</td>
    <td>mass</td>
</tr>
<tr>
    <td>gram</td>
    <td>gram</td>
    <td>g</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-3</td>
    <td>mass</td>
</tr>
<tr>
    <td>hectogram</td>
    <td>hectogram</td>
    <td>hg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>0.1</td>
    <td>mass</td>
</tr>
<tr>
    <td>kilodalton</td>
    <td>kilodalton</td>
    <td>kDa</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.6605402E-24</td>
    <td>mass</td>
</tr>
<tr>
    <td>kilogram</td>
    <td>kilogram</td>
    <td>kg</td>
    <td>mass</td>
    <td>SELF</td>
    <td>1</td>
    <td>mass</td>
</tr>
<tr>
    <td>kilotonne</td>
    <td>kilotonne</td>
    <td>kt</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+6</td>
    <td>mass</td>
</tr>
<tr>
    <td>megadalton</td>
    <td>megadalton</td>
    <td>MDa</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.6605402E-21</td>
    <td>mass</td>
</tr>
<tr>
    <td>megagram</td>
    <td>megagram</td>
    <td>Mg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+3</td>
    <td>mass</td>
</tr>
<tr>
    <td>megatonne</td>
    <td>megatonne</td>
    <td>Mt</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+9</td>
    <td>mass</td>
</tr>
<tr>
    <td>microgram</td>
    <td>microgram</td>
    <td>microg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-9</td>
    <td>mass</td>
</tr>
<tr>
    <td>millidalton</td>
    <td>millidalton</td>
    <td>mDa</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.6605402E-30</td>
    <td>mass</td>
</tr>
<tr>
    <td>milligram</td>
    <td>milligram</td>
    <td>mg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-6</td>
    <td>mass</td>
</tr>
<tr>
    <td>nanogram</td>
    <td>nanogram</td>
    <td>ng</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-12</td>
    <td>mass</td>
</tr>
<tr>
    <td>ounce</td>
    <td>ounce</td>
    <td>oz</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>0.0283495</td>
    <td>mass</td>
</tr>
<tr>
    <td>petagram</td>
    <td>petagram</td>
    <td>Pg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+12</td>
    <td>mass</td>
</tr>
<tr>
    <td>picogram</td>
    <td>picogram</td>
    <td>pg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E-15</td>
    <td>mass</td>
</tr>
<tr>
    <td>pound</td>
    <td>pound</td>
    <td>lb</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>0.45359</td>
    <td>mass</td>
</tr>
<tr>
    <td>stone</td>
    <td>stone</td>
    <td>st</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>6.35029</td>
    <td>mass</td>
</tr>
<tr>
    <td>teragram</td>
    <td>teragram</td>
    <td>Tg</td>
    <td>mass</td>
    <td>kilogram</td>
    <td>1.0E+9</td>
    <td>mass</td>
</tr>
<tr>
    <td>ton</td>
    <td>ton</td>
    <td/>
    <td>mass</td>
    <td>kilogram</td>
    <td>907.200</td>
    <td>mass</td>
</tr>
<tr>
    <td>tonne</td>
    <td>tonne</td>
    <td/>
    <td>mass</td>
    <td>kilogram</td>
    <td>1000</td>
    <td>mass</td>
</tr>
</table>