<body>
<p> Provides common types of numbers.

<p>

<p> Although numbers defined in this package are not as fast as primitives types
    (e.g. <code>int</code> or <code>double</code>). They have many
    advantages (such as arbitrary size
    or precision) which
    make them irreplaceable in some calculations. This can be illustrated with the following example:<pre>
        double x = 10864;
        double y = 18817;
        double z = 9 * Math.pow(x, 4.0)- Math.pow(y, 4.0) + 2 * Math.pow(y, 2.0);
        System.out.println("Result : " + z);

        > Result : 2.0</pre>
    The mathematically correct value is z=1. However, Java compilers
    using ANSI/IEEE double precision numbers evaluate z=2. Not even the first
    digit is correct! This is due to a rounding error occurring when subtracting
    two nearly equal floating point numbers. Now, lets write the same formula
    using {@link org.jscience.mathematics.algebraic.numbers.ExactReal ExactReal} numbers:<pre>
        ExactReal x = new ExactReal(10864);
        ExactReal y = new ExactReal(18817);
        ExactReal z = (ExactReal) new ExactReal(9).times(x.pow(4)).plus(y.pow(4).opposite()).plus(new ExactReal(2).times(y.pow(2)));
        System.out.println("Result : " + z);

        > Result   : 1.000</pre>

    Not only the correct result is returned, but this result is also <b>guaranteed</b> to be <code>1 ± 0.001</code>
    (only exact digits are written out).
</p>
</body>