<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abfarad</td>
        <td>abfarad</td>
        <td/>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.0E+9</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>coulombPerVolt</td>
        <td>coulomb per volt</td>
        <td>C/V</td>
        <td>capacitance</td>
        <td>farad</td>
        <td>1</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>farad</td>
        <td>farad</td>
        <td>F</td>
        <td>capacitance</td>
        <td>SELF</td>
        <td>1</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>microfarad</td>
        <td>microfarad</td>
        <td>microF</td>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.0E-6</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>millifarad</td>
        <td>millifarad</td>
        <td>mF</td>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.0E-3</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>nanofarad</td>
        <td>nanofarad</td>
        <td>nF</td>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.0E-9</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>picofarad</td>
        <td>picofarad</td>
        <td>pF</td>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.0E-12</td>
        <td>capacitance</td>
    </tr>
    <tr>
        <td>statfarad</td>
        <td>statfarad</td>
        <td/>
        <td>capacitance</td>
        <td>farad</td>
        <td>1.1126E-12</td>
        <td>capacitance</td>
    </tr>
</table>