<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abhenry</td>
        <td>abhenry</td>
        <td/>
        <td>inductance</td>
        <td>henry</td>
        <td>1.0E-9</td>
        <td>inductance</td>
    </tr>
    <tr>
        <td>henry</td>
        <td>henry</td>
        <td>H</td>
        <td>inductance</td>
        <td>SELF</td>
        <td>1</td>
        <td>inductance</td>
    </tr>
    <tr>
        <td>millihenry</td>
        <td>millihenry</td>
        <td>mH</td>
        <td>inductance</td>
        <td>henry</td>
        <td>1.0E-3</td>
        <td>inductance</td>
    </tr>
    <tr>
        <td>stathenry</td>
        <td>stathenry</td>
        <td/>
        <td>inductance</td>
        <td>henry</td>
        <td>8.9876E+11</td>
        <td>inductance</td>
    </tr>
    <tr>
        <td>weberPerAmpere</td>
        <td>weber per ampere</td>
        <td>Wb/A</td>
        <td>inductance</td>
        <td>henry</td>
        <td>1</td>
        <td>inductance</td>
    </tr>
</table>