<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gramPerLiterPerDay</td>
        <td>gram per liter per day</td>
        <td/>
        <td>massDensityRate</td>
        <td>kilogramPerMeterCubedPerSecond</td>
        <td/>
        <td>mass density rate</td>
    </tr>
    <tr>
        <td>kilogramPerMeterCubedPerSecond</td>
        <td>kilogram per meter cubed per second</td>
        <td>kg/m^3 s</td>
        <td>massDensityRate</td>
        <td>SELF</td>
        <td>1</td>
        <td>mass density rate</td>
    </tr>
</table>