<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>ampereTurn</td>
        <td>ampere turn</td>
        <td>At</td>
        <td>magnetomotiveForce</td>
        <td>SELF</td>
        <td>1</td>
        <td>magnetomotive force</td>
    </tr>
    <tr>
        <td>gilbert</td>
        <td>gilbert</td>
        <td>Gi</td>
        <td>magnetomotiveForce</td>
        <td>ampereTurn</td>
        <td>0.795775</td>
        <td>magnetomotive force</td>
    </tr>
</table>