<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>caloriePerMolePerKelvin</td>
        <td>calorie per mole per Kelvin</td>
        <td>cal/mol K</td>
        <td>molarEntropy</td>
        <td>joulePerMolePerKelvin</td>
        <td>4.184</td>
        <td>molar entropy</td>
    </tr>
    <tr>
        <td>joulePerMolePerKelvin</td>
        <td>joule per mole per Kelvin</td>
        <td>J/mol K</td>
        <td>molarEntropy</td>
        <td>SELF</td>
        <td>1</td>
        <td>molar entropy</td>
    </tr>
    <tr>
        <td>kilocaloriePerMolePerKelvin</td>
        <td>kilocalorie per mole per Kelvin</td>
        <td>kcal/mol K</td>
        <td>molarEntropy</td>
        <td>joulePerMolePerKelvin</td>
        <td>4.184E+03</td>
        <td>molar entropy</td>
    </tr>
    <tr>
        <td>kilojoulePerMolePerKelvin</td>
        <td>kilojoule per mole per Kelvin</td>
        <td>kJ/mol K</td>
        <td>molarEntropy</td>
        <td>joulePerMolePerKelvin</td>
        <td>1000</td>
        <td>molar entropy</td>
    </tr>
</table>