<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>grayPerSecond</td>
        <td>gray per second</td>
        <td>Gy/s</td>
        <td>absorbedDoseRate</td>
        <td>SELF</td>
        <td>1</td>
        <td>absorbed dose rate</td>
    </tr>
</table>