<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>kilogramPerHectarePerYear</td>
        <td>kilogramPerHectarePerYear</td>
        <td/>
        <td>arealMassFlux</td>
        <td>kilogramPerMeterSquaredPerSecond</td>
        <td/>
        <td>areal mass flux</td>
    </tr>
    <tr>
        <td>kilogramPerMeterSquaredPerSecond</td>
        <td>kilogram per meter squared per second</td>
        <td>kg/m^2 s</td>
        <td>arealMassFlux</td>
        <td>SELF</td>
        <td>1</td>
        <td>areal mass flux</td>
    </tr>
    <tr>
        <td>kilogramPerMeterSquaredPerYear</td>
        <td>kilogram per meter squared per year</td>
        <td/>
        <td>arealMassFlux</td>
        <td>kilogramPerMeterSquaredPerSecond</td>
        <td/>
        <td>areal mass flux</td>
    </tr>
</table>