<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gigahertz</td>
        <td>gigahertz</td>
        <td>GHz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1.0E+9</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>hertz</td>
        <td>hertz</td>
        <td>Hz</td>
        <td>frequency</td>
        <td>SELF</td>
        <td>1</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>kilohertz</td>
        <td>kilohertz</td>
        <td>kHz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1000</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>megahertz</td>
        <td>megahertz</td>
        <td>MHz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1.0E+6</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>millihertz</td>
        <td>millihertz</td>
        <td>mHz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1.0E-3</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>petahertz</td>
        <td>petahertz</td>
        <td>PHz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1.0E+15</td>
        <td>frequency</td>
    </tr>
    <tr>
        <td>terahertz</td>
        <td>terahertz</td>
        <td>THz</td>
        <td>frequency</td>
        <td>hertz</td>
        <td>1.0E+12</td>
        <td>frequency</td>
    </tr>
</table>