<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>candela</td>
        <td>candela</td>
        <td>cd</td>
        <td>luminousIntensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>luminous intensity</td>
    </tr>
    <tr>
        <td>millicandela</td>
        <td>millicandela</td>
        <td>mcd</td>
        <td>luminousIntensity</td>
        <td>candela</td>
        <td>1.0E-3</td>
        <td>luminous intensity</td>
    </tr>
</table>