<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>kilogramPerMeter</td>
        <td>kilogram per meter</td>
        <td>kg/m</td>
        <td>massPerUnitLength</td>
        <td>SELF</td>
        <td>1</td>
        <td>mass per unit length</td>
    </tr>
    <tr>
        <td>poundPerFoot</td>
        <td>pound per foot</td>
        <td>lb/ft</td>
        <td>massPerUnitLength</td>
        <td>kilogramPerMeter</td>
        <td>1.488156167979</td>
        <td>mass per unit length</td>
    </tr>
</table>