<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>ampereSecondMeter</td>
        <td>Ampere second meter</td>
        <td>Asm</td>
        <td>electricDipoleMoment</td>
        <td>coulombMeter</td>
        <td>1</td>
        <td>electric dipole moment</td>
    </tr>
    <tr>
        <td>auElectricDipoleMoment</td>
        <td>electric dipole moment (au)</td>
        <td>d_0</td>
        <td>electricDipoleMoment</td>
        <td>coulombMeter</td>
        <td>8.47835793E-30</td>
        <td>electric dipole moment</td>
    </tr>
    <tr>
        <td>coulombMeter</td>
        <td>Coulomb meter</td>
        <td>C m</td>
        <td>electricDipoleMoment</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric dipole moment</td>
    </tr>
    <tr>
        <td>debye</td>
        <td>Debye</td>
        <td>D</td>
        <td>electricDipoleMoment</td>
        <td>coulombMeter</td>
        <td>3.335641E-30</td>
        <td>electric dipole moment</td>
    </tr>
</table>