<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>arcminute</td>
        <td>arcminute</td>
        <td>min</td>
        <td>angle</td>
        <td>radian</td>
        <td>2.908882E-4</td>
        <td>angle</td>
    </tr>
    <tr>
        <td>arcsecond</td>
        <td>arcsecond</td>
        <td>sec</td>
        <td>angle</td>
        <td>radian</td>
        <td>4.848136811E-6</td>
        <td>angle</td>
    </tr>
    <tr>
        <td>centiradian</td>
        <td>centiradian</td>
        <td/>
        <td>angle</td>
        <td>radian</td>
        <td>0.01</td>
        <td>angle</td>
    </tr>
    <tr>
        <td>degree</td>
        <td>degree</td>
        <td>deg</td>
        <td>angle</td>
        <td>radian</td>
        <td>1.74532925E-2</td>
        <td>angle</td>
    </tr>
    <tr>
        <td>gradian</td>
        <td>gradian</td>
        <td>grad</td>
        <td>angle</td>
        <td>radian</td>
        <td>1.57079632679E-2</td>
        <td>angle</td>
    </tr>
    <tr>
        <td>radian</td>
        <td>radian</td>
        <td>rad</td>
        <td>angle</td>
        <td>SELF</td>
        <td>1</td>
        <td>angle</td>
    </tr>
</table>