<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>centistokes</td>
        <td>centistokes</td>
        <td>cSt</td>
        <td>kinematicViscosity</td>
        <td>meterSquaredPerSecond</td>
        <td>1.0E-6</td>
        <td>kinematic viscosity</td>
    </tr>
    <tr>
        <td>meterSquaredPerSecond</td>
        <td>meter squared per second</td>
        <td>m^2/s</td>
        <td>kinematicViscosity</td>
        <td>SELF</td>
        <td>1</td>
        <td>kinematic viscosity</td>
    </tr>
    <tr>
        <td>stokes</td>
        <td>stokes</td>
        <td>St</td>
        <td>kinematicViscosity</td>
        <td>meterSquaredPerSecond</td>
        <td>1.0E-4</td>
        <td>kinematic viscosity</td>
    </tr>
</table>