<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>coulombPerKilogram</td>
        <td>coulomb per kilogram</td>
        <td>C/kg</td>
        <td>exposure</td>
        <td>SELF</td>
        <td>1</td>
        <td>exposure</td>
    </tr>
</table>