<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>amperePerKilogram</td>
        <td>ampere per kilogram</td>
        <td>A/kg</td>
        <td>exposureRate</td>
        <td>SELF</td>
        <td>1</td>
        <td>exposure rate</td>
    </tr>
</table>