<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>katalPerMeterCubed</td>
        <td>katal per meter cubed</td>
        <td>kat/m^3</td>
        <td>catalyticActivityConcentration</td>
        <td>SELF</td>
        <td>1</td>
        <td>catalytic activity concentration</td>
    </tr>
</table>