<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>katal</td>
        <td>katal</td>
        <td>kat</td>
        <td>catalyticActivity</td>
        <td>SELF</td>
        <td>1</td>
        <td>catalytic activity</td>
    </tr>
</table>