<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gramPerGram</td>
        <td>gram per gram</td>
        <td>g/g</td>
        <td>massFraction</td>
        <td>kilogramPerKilogram</td>
        <td>1</td>
        <td>kilogram per kilogram</td>
    </tr>
    <tr>
        <td>gramPerKilogram</td>
        <td>gram per kilogram</td>
        <td>g/kg</td>
        <td>massFraction</td>
        <td>kilogramPerKilogram</td>
        <td>1.0E-3</td>
        <td>kilogram per kilogram</td>
    </tr>
    <tr>
        <td>gramPerTonne</td>
        <td>gram per tonne</td>
        <td>g/t</td>
        <td>massFraction</td>
        <td>kilogramPerKilogram</td>
        <td>1.0E-6</td>
        <td>kilogram per kilogram</td>
    </tr>
    <tr>
        <td>kilogramPerKilogram</td>
        <td>kilogram per kilogram</td>
        <td>kg/kg</td>
        <td>massFraction</td>
        <td>SELF</td>
        <td>1</td>
        <td>kilogram per kilogram</td>
    </tr>
    <tr>
        <td>milligramPerKilogram</td>
        <td>milligram per kilogram</td>
        <td>mg/kg</td>
        <td>massFraction</td>
        <td>kilogramPerKilogram</td>
        <td>1.0E-6</td>
        <td>kilogram per kilogram</td>
    </tr>
</table>