<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>centipoise</td>
        <td>centipoise</td>
        <td>cP</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>0.001</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>micropoise</td>
        <td>micropoise</td>
        <td>microP</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>1.0E-7</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>millipascalSecond</td>
        <td>millipascal second</td>
        <td>mPa s</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>1.0E-3</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>millipoise</td>
        <td>millipoise</td>
        <td>mP</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>1.0E-4</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>pascalSecond</td>
        <td>Pascal second</td>
        <td>Pa s</td>
        <td>dynamicViscosity</td>
        <td>SELF</td>
        <td>1</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>poise</td>
        <td>poise</td>
        <td>P</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>0.1</td>
        <td>dynamic viscosity</td>
    </tr>
    <tr>
        <td>poiseuille</td>
        <td>poiseuille</td>
        <td>Pl</td>
        <td>dynamicViscosity</td>
        <td>pascalSecond</td>
        <td>1</td>
        <td>dynamic viscosity</td>
    </tr>
</table>