<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>numberPerMole</td>
        <td>number per mole</td>
        <td>#/mol</td>
        <td>amountDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>amount density</td>
    </tr>
</table>