<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>numberPerKilometerSquared</td>
        <td>number per kilometer squared</td>
        <td>#/km^2</td>
        <td>arealDensity</td>
        <td>numberPerMeterSquared</td>
        <td>1.0E-6</td>
        <td>areal density</td>
    </tr>
    <tr>
        <td>numberPerMeterSquared</td>
        <td>number per meter squared</td>
        <td>#/m^2</td>
        <td>arealDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>areal density</td>
    </tr>
</table>