<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>microsievert</td>
        <td>microsievert</td>
        <td>microSv</td>
        <td>doseEquivalent</td>
        <td>sievert</td>
        <td>1.0E-6</td>
        <td>dose equivalent</td>
    </tr>
    <tr>
        <td>millisievert</td>
        <td>millisievert</td>
        <td>mSv</td>
        <td>doseEquivalent</td>
        <td>sievert</td>
        <td>1.0E-3</td>
        <td>dose equivalent</td>
    </tr>
    <tr>
        <td>nanosievert</td>
        <td>nanosievert</td>
        <td>nSv</td>
        <td>doseEquivalent</td>
        <td>sievert</td>
        <td>1.0E-9</td>
        <td>dose equivalent</td>
    </tr>
    <tr>
        <td>sievert</td>
        <td>sievert</td>
        <td>Sv</td>
        <td>doseEquivalent</td>
        <td>SELF</td>
        <td>1</td>
        <td>dose equivalent</td>
    </tr>
</table>