<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abmho</td>
        <td>abmho</td>
        <td/>
        <td>electricConductance</td>
        <td>siemens</td>
        <td>1.0E+9</td>
        <td>electric conductance</td>
    </tr>
    <tr>
        <td>amperePerVolt</td>
        <td>ampere per volt</td>
        <td>A/V</td>
        <td>electricConductance</td>
        <td>siemens</td>
        <td>1</td>
        <td>electric conductance</td>
    </tr>
    <tr>
        <td>millisiemens</td>
        <td>millisiemens</td>
        <td>mS</td>
        <td>electricConductance</td>
        <td>siemens</td>
        <td>1.0E-3</td>
        <td>electric conductance</td>
    </tr>
    <tr>
        <td>siemens</td>
        <td>siemens</td>
        <td>S</td>
        <td>electricConductance</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric conductance</td>
    </tr>
</table>