<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>centimeterPerSecondSquared</td>
        <td>centimeter per second squared</td>
        <td>cm/s^2</td>
        <td>acceleration</td>
        <td>meterPerSecondSquared</td>
        <td>0.01</td>
        <td>acceleration</td>
    </tr>
    <tr>
        <td>footPerSecondSquared</td>
        <td>foot per second squared</td>
        <td>ft/s^2</td>
        <td>acceleration</td>
        <td>meterPerSecondSquared</td>
        <td>0.3048</td>
        <td>acceleration</td>
    </tr>
    <tr>
        <td>galileo</td>
        <td>galileo</td>
        <td>Gal</td>
        <td>acceleration</td>
        <td>meterPerSecondSquared</td>
        <td>0.01</td>
        <td>acceleration</td>
    </tr>
    <tr>
        <td>meterPerSecondSquared</td>
        <td>meter per second squared</td>
        <td>m/s^2</td>
        <td>acceleration</td>
        <td>SELF</td>
        <td>1</td>
        <td>acceleration</td>
    </tr>
</table>