<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>radianPerSecondSquared</td>
        <td>radian per second squared</td>
        <td>rad/s^2</td>
        <td>angularAcceleration</td>
        <td>SELF</td>
        <td>1</td>
        <td>angular acceleration</td>
    </tr>
    <tr>
        <td>revolutionPerMinuteSquared</td>
        <td>revolution per minute squared</td>
        <td>r/min^2</td>
        <td>angularAcceleration</td>
        <td>radianPerSecondSquared</td>
        <td>1.74532925E-3</td>
        <td>angular acceleration</td>
    </tr>
    <tr>
        <td>revolutionPerSecondSquared</td>
        <td>revolution per second squared</td>
        <td>r/s^2</td>
        <td>angularAcceleration</td>
        <td>radianPerSecondSquared</td>
        <td>6.283185307</td>
        <td>angular acceleration</td>
    </tr>
</table>