<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>millimolePerGram</td>
        <td>millimole per gram</td>
        <td/>
        <td>amountOfSubstanceMass</td>
        <td>molePerKilogram</td>
        <td>1</td>
        <td>amount of substance mass</td>
    </tr>
    <tr>
        <td>molality</td>
        <td>molality</td>
        <td>m</td>
        <td>amountOfSubstanceMass</td>
        <td>molePerKilogram</td>
        <td>1</td>
        <td>amount of substance mass</td>
    </tr>
    <tr>
        <td>molePerGram</td>
        <td>mole per gram</td>
        <td/>
        <td>amountOfSubstanceMass</td>
        <td>molePerKilogram</td>
        <td>1000</td>
        <td>amount of substance mass</td>
    </tr>
    <tr>
        <td>molePerKilogram</td>
        <td>mole per kilogram</td>
        <td>mol/kg</td>
        <td>amountOfSubstanceMass</td>
        <td>SELF</td>
        <td>1</td>
        <td>amount of substance mass</td>
    </tr>
</table>