<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>amperePerMeter</td>
        <td>ampere per meter</td>
        <td>A/m</td>
        <td>magneticFieldStrength</td>
        <td>SELF</td>
        <td>1</td>
        <td>magneticFieldStrength</td>
    </tr>
    <tr>
        <td>kilo-oersted</td>
        <td>kilo-oersted</td>
        <td>kOe</td>
        <td>magneticFieldStrength</td>
        <td>amperePerMeter</td>
        <td>79577.47</td>
        <td>magneticFieldStrength</td>
    </tr>
    <tr>
        <td>oersted</td>
        <td>oersted</td>
        <td>Oe</td>
        <td>magneticFieldStrength</td>
        <td>amperePerMeter</td>
        <td>79.57747</td>
        <td>magneticFieldStrength</td>
    </tr>
</table>