<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>caloriePerMole</td>
        <td>calorie per mole</td>
        <td>cal/mol</td>
        <td>molarEnergy</td>
        <td>joulePerMole</td>
        <td>4.1868</td>
        <td>Molar energy</td>
    </tr>
    <tr>
        <td>invcm</td>
        <td>inverse cm (spectroscopy)</td>
        <td>cm-1</td>
        <td>molarEnergy</td>
        <td/>
        <td/>
        <td>Molar energy</td>
    </tr>
    <tr>
        <td>joulePerMole</td>
        <td>joule per mole</td>
        <td>J/mol</td>
        <td>molarEnergy</td>
        <td>SELF</td>
        <td>1</td>
        <td>Molar energy</td>
    </tr>
    <tr>
        <td>kilocaloriePerMole</td>
        <td>kilocalorie per mole</td>
        <td>kcal/mol</td>
        <td>molarEnergy</td>
        <td>joulePerMole</td>
        <td>4.184E+03</td>
        <td>Molar energy</td>
    </tr>
    <tr>
        <td>kilojoulePerMole</td>
        <td>kilojoule per mole</td>
        <td>kJ/mol</td>
        <td>molarEnergy</td>
        <td>joulePerMole</td>
        <td>1000</td>
        <td>Molar energy</td>
    </tr>
</table>