<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abampere</td>
        <td>abampere</td>
        <td/>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>10</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>ampere</td>
        <td>ampere</td>
        <td>A</td>
        <td>electricCurrent</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>biot</td>
        <td>biot</td>
        <td>Bi</td>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>10</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>kiloampere</td>
        <td>kiloampere</td>
        <td>kA</td>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>1000</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>megampere</td>
        <td>megampere</td>
        <td>MA</td>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>1.0E+6</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>microampere</td>
        <td>microampere</td>
        <td>microA</td>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>1.0E-6</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>milliampere</td>
        <td>milliampere</td>
        <td>mA</td>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>1.0E-3</td>
        <td>electric current</td>
    </tr>
    <tr>
        <td>statampere</td>
        <td>statampere</td>
        <td/>
        <td>electricCurrent</td>
        <td>ampere</td>
        <td>3.3356E-10</td>
        <td>electric current</td>
    </tr>
</table>