<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>microvoltPerMeter</td>
        <td>microvolt per meter</td>
        <td>microV/m</td>
        <td>electricFieldStrength</td>
        <td>voltPerMeter</td>
        <td>1.0E-6</td>
        <td>electric field strength</td>
    </tr>
    <tr>
        <td>millivoltPerMeter</td>
        <td>millivolt per meter</td>
        <td>mV/m</td>
        <td>electricFieldStrength</td>
        <td>voltPerMeter</td>
        <td>1.0E-3</td>
        <td>electric field strength</td>
    </tr>
    <tr>
        <td>nanovoltPerMeter</td>
        <td>nanovolt per meter</td>
        <td>nV/m</td>
        <td>electricFieldStrength</td>
        <td>voltPerMeter</td>
        <td>1.0E-9</td>
        <td>electric field strength</td>
    </tr>
    <tr>
        <td>picovoltPerMeter</td>
        <td>picovolt per meter</td>
        <td>pV/m</td>
        <td>electricFieldStrength</td>
        <td>voltPerMeter</td>
        <td>1.0E-12</td>
        <td>electric field strength</td>
    </tr>
    <tr>
        <td>voltPerMeter</td>
        <td>volt per meter</td>
        <td>V/m</td>
        <td>electricFieldStrength</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric field strength</td>
    </tr>
</table>