<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>kilomole</td>
        <td>kilomole</td>
        <td>kmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>1.0E+3</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>micromole</td>
        <td>micromole</td>
        <td/>
        <td>amount</td>
        <td>mole</td>
        <td>1.0E-6</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>millimole</td>
        <td>millimole</td>
        <td>mmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>1.0E-3</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>mole</td>
        <td>mole</td>
        <td>mol</td>
        <td>amount</td>
        <td>SELF</td>
        <td>1</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>nanomole</td>
        <td>nanomole</td>
        <td>nmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>1.0E-09</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>ounceMole</td>
        <td>ounce mole</td>
        <td>ozmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>28.34952</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>picomole</td>
        <td>picomole</td>
        <td>pmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>1.0E-12</td>
        <td>amount of substance</td>
    </tr>
    <tr>
        <td>poundMole</td>
        <td>pound mole</td>
        <td>lbmol</td>
        <td>amount</td>
        <td>mole</td>
        <td>453.59237</td>
        <td>amount of substance</td>
    </tr>
</table>