<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>joulePerKelvin</td>
        <td>Joule per Kelvin</td>
        <td>J/K</td>
        <td>heatCapacity</td>
        <td>SELF</td>
        <td>1</td>
        <td>heat capacity</td>
    </tr>
</table>