<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>meterSquaredPerSecond</td>
        <td>meter squared per second</td>
        <td>m^2/s</td>
        <td>diffusionCoefficient</td>
        <td>SELF</td>
        <td>1</td>
        <td>diffusion coefficient</td>
    </tr>
</table>