<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>abweber</td>
        <td>abweber</td>
        <td/>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1.0E-8</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>kiloline</td>
        <td>kiloline</td>
        <td/>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1.0E-5</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>line</td>
        <td>line</td>
        <td>li</td>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1.0E-8</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>maxwell</td>
        <td>maxwell</td>
        <td>Mx</td>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1.0E-8</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>megaline</td>
        <td>megaline</td>
        <td/>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>0.01</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>unitPole</td>
        <td>unit pole</td>
        <td/>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1.256637E-7</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>voltSecond</td>
        <td>volt second</td>
        <td>Vs</td>
        <td>magneticFlux</td>
        <td>weber</td>
        <td>1</td>
        <td>magnetic flux</td>
    </tr>
    <tr>
        <td>weber</td>
        <td>weber</td>
        <td>Wb</td>
        <td>magneticFlux</td>
        <td>SELF</td>
        <td>1</td>
        <td>magnetic flux</td>
    </tr>
</table>