<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>ohmMeter</td>
        <td>ohmMeter</td>
        <td/>
        <td>electricResistivity</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric resistivity</td>
    </tr>
</table>