<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>MeterSquaredPerKilogram</td>
        <td>meter squared per kilogram</td>
        <td>m^2/kg</td>
        <td>arealMass</td>
        <td>SELF</td>
        <td>1</td>
        <td>areal mass</td>
    </tr>
</table>