<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>wattPerMeterSquaredPerKelvin</td>
        <td>Watt per meter squared per Kelvin</td>
        <td>W/m^2 K</td>
        <td>coefficientOfHeatTransfer</td>
        <td>SELF</td>
        <td>1</td>
        <td>coefficient of heat transfer</td>
    </tr>
</table>