<?xml version="1.0" encoding="utf-8"?>
<table border="1">
<tr>
    <td>britishThermalUnit</td>
    <td>british thermal unit</td>
    <td>btu</td>
    <td>energy</td>
    <td>joule</td>
    <td>1055.0559</td>
    <td>energy</td>
</tr>
<tr>
    <td>calorie</td>
    <td>calorie</td>
    <td>cal</td>
    <td>energy</td>
    <td>joule</td>
    <td>4.1868</td>
    <td>energy</td>
</tr>
<tr>
    <td>electronvolt</td>
    <td>electronvolt</td>
    <td>eV</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.60218E-19</td>
    <td>energy</td>
</tr>
<tr>
    <td>erg</td>
    <td>erg</td>
    <td/>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E-07</td>
    <td>energy</td>
</tr>
<tr>
    <td>exajoule</td>
    <td>exajoule</td>
    <td>EJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+18</td>
    <td>energy</td>
</tr>
<tr>
    <td>footPound</td>
    <td>foot pound</td>
    <td>ft-lb</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.355818</td>
    <td>energy</td>
</tr>
<tr>
    <td>gigaelectronvolt</td>
    <td>gigaelectronvolt</td>
    <td>GeV</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.60218E-10</td>
    <td>energy</td>
</tr>
<tr>
    <td>gigajoule</td>
    <td>gigajoule</td>
    <td>GJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+9</td>
    <td>energy</td>
</tr>
<tr>
    <td>gramCalorie</td>
    <td>gram-calorie</td>
    <td/>
    <td>energy</td>
    <td>joule</td>
    <td>4.1868</td>
    <td>energy</td>
</tr>
<tr>
    <td>hartree</td>
    <td>Hartree</td>
    <td>E_h</td>
    <td>energy</td>
    <td>joule</td>
    <td>4.35974823E-18</td>
    <td>energy</td>
</tr>
<tr>
    <td>horsepowerHour</td>
    <td>horsepower hour</td>
    <td>hp hr</td>
    <td>energy</td>
    <td>joule</td>
    <td>2684519.64</td>
    <td>energy</td>
</tr>
<tr>
    <td>inchPound</td>
    <td>inch pound</td>
    <td>in lb</td>
    <td>energy</td>
    <td>joule</td>
    <td>0.112985</td>
    <td>energy</td>
</tr>
<tr>
    <td>joule</td>
    <td>joule</td>
    <td>J</td>
    <td>energy</td>
    <td>SELF</td>
    <td>1</td>
    <td>energy</td>
</tr>
<tr>
    <td>kilocalorie</td>
    <td>kilocalorie</td>
    <td>kcal</td>
    <td>energy</td>
    <td>joule</td>
    <td>4186.8</td>
    <td>energy</td>
</tr>
<tr>
    <td>kiloelectronvolt</td>
    <td>kiloelectronvolt</td>
    <td>keV</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.60218E-16</td>
    <td>energy</td>
</tr>
<tr>
    <td>kilogramCalorie</td>
    <td>kilogram-calorie</td>
    <td/>
    <td>energy</td>
    <td>joule</td>
    <td>4186.8</td>
    <td>energy</td>
</tr>
<tr>
    <td>kilogramMeter</td>
    <td>kilogram-meter</td>
    <td>kg-m</td>
    <td>energy</td>
    <td>joule</td>
    <td>9.80665</td>
    <td>energy</td>
</tr>
<tr>
    <td>kilojoule</td>
    <td>kilojoule</td>
    <td>kJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+3</td>
    <td>energy</td>
</tr>
<tr>
    <td>kilowattHour</td>
    <td>kilowatt hour</td>
    <td>kW h</td>
    <td>energy</td>
    <td>joule</td>
    <td>3.6E+6</td>
    <td>energy</td>
</tr>
<tr>
    <td>megaelectronvolt</td>
    <td>megaelectronvolt</td>
    <td>MeV</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.60218E-13</td>
    <td>energy</td>
</tr>
<tr>
    <td>megajoule</td>
    <td>megajoule</td>
    <td>MJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+6</td>
    <td>energy</td>
</tr>
<tr>
    <td>megalerg</td>
    <td>megalerg</td>
    <td/>
    <td>energy</td>
    <td>joule</td>
    <td>0.1</td>
    <td>energy</td>
</tr>
<tr>
    <td>megawattDay</td>
    <td>megawatt day</td>
    <td>MW d</td>
    <td>energy</td>
    <td>joule</td>
    <td>8.64E+10</td>
    <td>energy</td>
</tr>
<tr>
    <td>megawattHour</td>
    <td>megawatt hour</td>
    <td>MW hr</td>
    <td>energy</td>
    <td>joule</td>
    <td>3.6E+9</td>
    <td>energy</td>
</tr>
<tr>
    <td>millijoule</td>
    <td>millijoule</td>
    <td>mJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E-3</td>
    <td>energy</td>
</tr>
<tr>
    <td>milliwattHour</td>
    <td>milliwatt hour</td>
    <td>mW h</td>
    <td>energy</td>
    <td>joule</td>
    <td>3.6</td>
    <td>energy</td>
</tr>
<tr>
    <td>petajoule</td>
    <td>petajoule</td>
    <td>PJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+15</td>
    <td>energy</td>
</tr>
<tr>
    <td>rydberg</td>
    <td>Rydberg</td>
    <td>E_R</td>
    <td>energy</td>
    <td>joule</td>
    <td>2.1798741E-18</td>
    <td>energy</td>
</tr>
<tr>
    <td>terajoule</td>
    <td>terajoule</td>
    <td>TJ</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0E+12</td>
    <td>energy</td>
</tr>
<tr>
    <td>terawattHour</td>
    <td>terawatt hour</td>
    <td>TW h</td>
    <td>energy</td>
    <td>joule</td>
    <td>3.6E+15</td>
    <td>energy</td>
</tr>
<tr>
    <td>therm</td>
    <td>therm</td>
    <td>thm</td>
    <td>energy</td>
    <td>joule</td>
    <td>1.0550559E+8</td>
    <td>energy</td>
</tr>
<tr>
    <td>wattHour</td>
    <td>watt hour</td>
    <td>W h</td>
    <td>energy</td>
    <td>joule</td>
    <td>3600</td>
    <td>energy</td>
</tr>
<tr>
    <td>waveNumber</td>
    <td>waveNumber</td>
    <td/>
    <td>energy</td>
    <td>SELF</td>
    <td>1</td>
    <td>energy</td>
</tr>
</table>