<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>coulombPerMeterCubed</td>
        <td>Coulomb per meter cubed</td>
        <td>C/m^3</td>
        <td>electricChargeDensity</td>
        <td>SELF</td>
        <td>1</td>
        <td>electric charge density</td>
    </tr>
</table>