<?xml version="1.0" encoding="utf-8"?>
<table border="1">
    <tr>
        <td>gramPerYear</td>
        <td>gram per year</td>
        <td/>
        <td>massFlux</td>
        <td>kilogramPerSecond</td>
        <td/>
        <td>massFlux</td>
    </tr>
    <tr>
        <td>kilogramPerSecond</td>
        <td>kilogram per second</td>
        <td>kg/s</td>
        <td>massFlux</td>
        <td>SELF</td>
        <td>1</td>
        <td>massFlux</td>
    </tr>
    <tr>
        <td>tonnePerYear</td>
        <td>tonne per year</td>
        <td/>
        <td>massFlux</td>
        <td>kilogramPerSecond</td>
        <td/>
        <td>massFlux</td>
    </tr>
</table>